function Board.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 60
pop this 0
push constant 30
pop this 1
push pointer 0
call Board.drawGrid 1
pop temp 0
push pointer 0
return
function Board.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Board.drawGrid 4
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
pop local 0
push this 1
push this 0
add
pop local 1
push this 1
push constant 3
push this 0
call Math.multiply 2
add
pop local 2
push local 1
pop local 3
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push this 1
push constant 2
push this 0
call Math.multiply 2
add
pop local 1
push local 1
pop local 3
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push this 1
push this 0
add
pop local 0
push this 1
pop local 1
push local 0
pop local 2
push this 1
push constant 3
push this 0
call Math.multiply 2
add
pop local 3
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push this 1
push constant 2
push this 0
call Math.multiply 2
add
pop local 0
push local 0
pop local 2
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Board.drawX 5
push argument 0
pop pointer 0
push constant 10
pop local 4
push argument 2
push this 0
call Math.multiply 2
push this 1
add
push local 4
add
pop local 0
push argument 1
push this 0
call Math.multiply 2
push this 1
add
push local 4
add
pop local 1
push local 0
push this 0
add
push constant 2
push local 4
call Math.multiply 2
sub
pop local 2
push local 1
push this 0
add
push constant 2
push local 4
call Math.multiply 2
sub
pop local 3
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push local 0
push local 3
push local 2
push local 1
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Board.drawO 3
push argument 0
pop pointer 0
push argument 2
push this 0
call Math.multiply 2
push this 1
add
push this 0
push constant 2
call Math.divide 2
add
pop local 0
push argument 1
push this 0
call Math.multiply 2
push this 1
add
push this 0
push constant 2
call Math.divide 2
add
pop local 1
push this 0
push constant 2
call Math.divide 2
push constant 10
sub
pop local 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
